langgraph
langchain_anthropic
tavily-python
langchain_community
langchain_openai
pygraphviz
langchain-tavily
tqdm
pandas
spire-doc
html-for-docx
azure-cognitiveservices-speech
pydub
Flask
azure-storage-blob
pymongo
celery[azure]
azure-servicebus
concurrent-log-handler
Pillow
Flask-HTTPAuth
redis
